<!-- START EXP. & EDU. -->
<section class="section" id="education">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="text-center mx-auto section-main-title">
          <h2><span class="fw-bold">Education & Experiance</span></h2>
          <div class="main-title-border">
            <i class="mdi mdi-asterisk"></i>
          </div>
          <!-- <p class="text-muted mx-auto mt-2">It is a long established fact that a reader will be distracted by
                    the readable content of a page when looking at its layout.</p> -->
        </div>
      </div>
    </div>
   
    <div class="row mt-4 pt-4">
      <!-- <div class="col-lg-6 col-md-6 offset-md-3" >
        
        <ul >
          <li *ngFor="let experience of experiences3;" >
            <div class="cv_edu_exp mt-3" >
              <div class="cv_edu_exp_box mt-4">
                <p class="cv_desc mb-0">Current Experience</p>
                 <div class=" fw-bold text-custom position-relative">{{experience.title}}</div>
                <p class="cv_desc mb-0">{{experience.company}}</p>
                <p class="cv_desc mb-0">{{experience.period}}

                  <button (click)="detailOnClick(experience)" type="button" class="btn btn-clear">
                    <span *ngIf="!experience.detailIsDisplayed">+</span><span
                      *ngIf="experience.detailIsDisplayed">-</span> More Details</button>

                </p>
              <p *ngIf="experience.detailIsDisplayed">
                <span *ngFor="let mission of experience.missions;let index = index">

                  <strong>{{mission}} </strong><br>
                </span>
                <strong>Technologies- {{experience.technologies}}</strong>
              </p>
                </div>
                </div>
              
          </li>

      </ul>
      
        </div> -->
      <div class="col-lg-6 col-md-6" >
        <h4><strong>Education</strong></h4>
        <ul >
          <li *ngFor="let experience of experiences;" >
            <div class="cv_edu_exp mt-3" >
              <div class="cv_edu_exp_box mt-4">
                <div *ngIf="experience.title === 'Bachelor of Engineering'">
                  Education-
                </div>
                <div class=" fw-bold text-custom position-relative">{{experience.title}}</div>
                <p class="cv_desc mb-0">{{experience.company}}</p>
                <p class="cv_desc mb-0">{{experience.period}}

                  <button (click)="detailOnClick(experience)" type="button" class="btn btn-clear">
                    <span *ngIf="!experience.detailIsDisplayed">+</span><span
                      *ngIf="experience.detailIsDisplayed">-</span> More Details</button>

                </p>
              <p *ngIf="experience.detailIsDisplayed">
                <span *ngFor="let mission of experience.missions;let index = index">

                  <strong>{{mission}} </strong><br>
                </span>
                <strong>Technologies- {{experience.technologies}}</strong>
              </p>
                </div>
                </div>
              
          </li>

      </ul>
      <h4><strong>Certification</strong></h4>
      <ul >
        <li *ngFor="let certification of certifications;" >
          <div class="cv_edu_exp mt-3" >
            <div class="cv_edu_exp_box mt-4">
              <div class=" fw-bold text-custom position-relative">Certification- {{certification.title}}</div>
              <p class="cv_desc mb-0">{{certification.company}}</p>
              <p class="cv_desc mb-0" *ngIf="certification.period">{{certification.period}}</p>
              <p class="cv_desc mb-0">Credly- <a href="{{certification.technologies}}">{{certification.technologies}}</a></p>
              </div>
              </div>
            
        </li>

    </ul>
        </div>
        <div class="col-lg-6 col-md-6" >
          <h4><strong>Experiences</strong></h4>
          <ul >
            <li *ngFor="let experience of experiences2;" >
              <div class="cv_edu_exp mt-3" >
                <div class="cv_edu_exp_box mt-4">
                   <div class=" fw-bold text-custom position-relative">{{experience.title}}</div>
                  <p class="cv_desc mb-0">{{experience.company}}</p>
                  <p class="cv_desc mb-0">{{experience.period}}

                    <button (click)="detailOnClick(experience)" type="button" class="btn btn-clear">
                      <span *ngIf="!experience.detailIsDisplayed">+</span><span
                        *ngIf="experience.detailIsDisplayed">-</span> More Details</button>

                  </p>
                <p *ngIf="experience.detailIsDisplayed">
                  <span *ngFor="let mission of experience.missions;let index = index">

                    <strong>{{mission}} </strong><br>
                  </span>
                  <strong>Technologies- {{experience.technologies}}</strong>
                </p>
                  </div>
                  </div>
                
            </li>
  
        </ul>
        
          </div>
        </div>
    <!-- <div class="row mt-4 pt-4">
      <div class="col-lg-6" *ngFor="let experience of experiences;">
        <div class="cv_edu_exp mt-3" >
          <div class="cv_edu_exp_box mt-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="cv_edu_exp_year fw-bold text-custom position-relative">{{experience.title}}</div>
                <div class="cb_edu_exp_detail">
                  <p class="cv_desc mb-0">{{experience.company}}</p>
                  <p class="cv_desc mb-0">{{experience.period}}

                    <button (click)="detailOnClick(experience)" type="button" class="btn btn-clear">
                      <span *ngIf="!experience.detailIsDisplayed">+</span><span
                        *ngIf="experience.detailIsDisplayed">-</span> More Details</button>

                  </p>
                  <p *ngIf="experience.detailIsDisplayed">
                    <span *ngFor="let mission of experience.missions;let index = index">

                      <strong>{{mission}} </strong><br>
                    </span>
                    <strong>Technologies- {{experience.technologies}}</strong>
                  </p>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-4 col-md-6" >
                <h4><strong>{{'education.experiencesTitle'}}</strong></h4>
                <ul class="timeline">
                    <li *ngFor="let experience of experiences;">
                      {{experience}}
                        <h5>{{experience.title}}</h5>
                        <em>{{experience.company}}</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">{{experience.period}}</p>
                            <button (click)="detailOnClick(experience)" type="button"
                                class="btn btn-primary">
                                <span *ngIf="!experience.detailIsDisplayed">+</span><span *ngIf="experience.detailIsDisplayed">-</span> {{'education.detail' }}</button>
                        </div>
                        <p *ngIf="experience.detailIsDisplayed">
                            <span *ngFor="let mission of experience.missions;let index = index">
                                <strong>{{'education.mission' }} {{index+1}}: </strong>{{mission}} <br>
                            </span>
                            <strong>{{'education.technologies' }}:</strong> {{experience.technologies}}
                        </p>
                    </li>
  
                </ul>
            </div> -->

    <!-- <div class="row mt-4 pt-4">
      <div class="col-lg-5">
        <div class="cv_edu_exp mt-3">
          <div class="cv_edu_exp_box mt-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="cv_edu_exp_year fw-bold text-custom position-relative">2011 - 2015</div>
                <div class="cb_edu_exp_detail">
                  <h4>Bachelor's degree</h4>
                  <p class="cv_desc mb-0">Bachlor of Computer Science at Gujarat Technological University.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="cv_edu_exp_box mt-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="cv_edu_exp_year fw-bold text-custom position-relative">2016 - 2017</div>
                <div class="cb_edu_exp_detail">
                  <h4>Java Developer</h4>
                  <p class="cv_desc mb-0">Maxgen Technologies, Ahmedabad, India</p>
                </div>
              </div>
            </div>
          </div>

          <div class="cv_edu_exp_box mt-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="cv_edu_exp_year fw-bold text-custom position-relative">2016 - 2023</div>
                <div class="cb_edu_exp_detail">
                  <h4>UI/UX Designer</h4>
                  <p class="cv_desc mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula eget dolor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-2">
        <div class="cv_edu_exp mt-3">
          <div class="cv_edu_exp_box mt-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="cv_edu_exp_year fw-bold text-custom position-relative">2010 - 2014</div>
                <div class="cb_edu_exp_detail">
                  <h4>Senior Graphic Designer</h4>
                  <p class="cv_desc mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula eget dolor.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="cv_edu_exp_box mt-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="cv_edu_exp_year fw-bold text-custom position-relative">2014 - 2016</div>
                <div class="cb_edu_exp_detail">
                  <h4>Web Developer</h4>
                  <p class="cv_desc mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula eget dolor.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="cv_edu_exp_box mt-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="cv_edu_exp_year fw-bold text-custom position-relative">2016 - 2023</div>
                <div class="cb_edu_exp_detail">
                  <h4>Freelancer And Themeforest</h4>
                  <p class="cv_desc mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula eget dolor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- END EXP. & EDU. -->

<!-- START CTA -->
<!-- <section class="section bg-cta">
  <div class="bg-overlay"></div>
  <div class="container z-index">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center text-white">
          <h1>I Am Available For Freelancer.</h1>
          <div class="mt-4">
            <a href="javascript:void(0)" class="btn btn-outline-custom">Hire Me!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- END CTA -->