        <!-- START SERVICES -->
        <section class="section bg-light" id="services">
          <div class="container">
            <div class="row justify-content-center">
              <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="progress-bars skill-custom">
                        <div class="clearfix">
                            <div class="text-dark fw-bold float-left">Design</div>
                            <div class="text-muted float-right">80%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="clearfix">
                            <div class="text-dark fw-bold float-left">Development</div>
                            <div class="text-muted float-right">80%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="clearfix">
                            <div class="text-dark fw-bold float-left">Testing</div>
                            <div class="text-muted float-right">80%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="clearfix">
                          <div class="text-dark fw-bold float-left">Deployment</div>
                          <div class="text-muted float-right">80%</div>
                      </div>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="clearfix">
                          <div class="text-dark fw-bold float-left">Angular</div>
                          <div class="text-muted float-right">80%</div>
                      </div>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="clearfix">
                          <div class="text-dark fw-bold float-left">HTML/CSS</div>
                          <div class="text-muted float-right">80%</div>
                      </div>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="clearfix">
                        <div class="text-dark fw-bold float-left">ElctronJS</div>
                        <div class="text-muted float-right">80%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="clearfix">
                        <div class="text-dark fw-bold float-left">React-Native</div>
                        <div class="text-muted float-right">60%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="clearfix">
                        <div class="text-dark fw-bold float-left">Cordova/Capacitor</div>
                        <div class="text-muted float-right">80%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="clearfix">
                        <div class="text-dark fw-bold float-left">Rxjs</div>
                        <div class="text-muted float-right">80%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="progress-bars skill-custom">
                       
                        
                        <div class="clearfix">
                            <div class="text-dark fw-bold float-left">Typescript</div>
                            <div class="text-muted float-right">80%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                        <div class="clearfix">
                            <div class="text-dark fw-bold float-left">PostgreSQL</div>
                            <div class="text-muted float-right">50%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="clearfix">
                          <div class="text-dark fw-bold float-left">Microservice/Serverless</div>
                          <div class="text-muted float-right">80%</div>
                      </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="clearfix">
                          <div class="text-dark fw-bold float-left">NodeJs</div>
                          <div class="text-muted float-right">80%</div>
                      </div>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width:80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="clearfix">
                          <div class="text-dark fw-bold float-left">Ionic</div>
                          <div class="text-muted float-right">80%</div>
                      </div>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width:80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="clearfix">
                          <div class="text-dark fw-bold float-left">DevOps(Ionic App-flow, Docker, Jenkins, SonarQube, Terraform, Github)</div>
                          <div class="text-muted float-right">58%</div>
                      </div>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width:58%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="clearfix">
                          <div class="text-dark fw-bold float-left">Android, IOS</div>
                          <div class="text-muted float-right">80%</div>
                      </div>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width:80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="clearfix">
                          <div class="text-dark fw-bold float-left">MySql, PostgreSQL</div>
                          <div class="text-muted float-right">60%</div>
                      </div>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width:60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="AWS">
                        <div class="text-dark fw-bold float-left">AWS(ECS, EC2, S3, Param-Store, CloudQatch, IAM, Cloud-Front, Linux Aurora, Lambda, Scheduler)</div>
                        <div class="text-muted float-right">70%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="GCP">
                      <div class="text-dark fw-bold float-left">GCP(Push-Notification, G-Map, Firebase, Authentication)</div>
                      <div class="text-muted float-right">60%</div>
                  </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:70%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </section>
        
